.splash-container {
  .copy-text {
    font-size: 0.8rem;
  }

  .btn-full {
    width: 100%;
  }

  .mt-3 {
    margin-top: 12px;
  }

  .auth-footer-text {
    font-size: 0.85rem;
    margin-top: 24px;
    text-align: center;
  }
}
